form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Added for horizontal centering */
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px 20px;
    width: 300px;
  }
  
input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
button {
    border: none;
    outline: none;
    background-color: #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }  

.navbar-nav .nav-link:hover {
    background-color: #f8f9fa; 
    text-decoration: underline; 
    font-weight: bold;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    border-radius: 5px; /* Softens the corners */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.placeholder-container {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* Centers horizontally */
    border: 1px solid #ccc; /* Optional border */
    background-color: #f0f0f0; /* Light gray background */
    text-align: center; /* Center the text */
    display: flex; /* Allow vertical centering */
    justify-content: center; /* Align text horizontally */
    align-items: center; /* Vertically center text */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.placeholder-text {
    font-size: 16px;
    color: #888;
  }

.button-container {
    text-align: center;
    margin-top: 10px; /* Adjust spacing as needed */
  }
  
.button-container button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc; /* Or your desired color */
    color: #000;
    font-size: 16px;
    border: none; /* Remove default button border */
    cursor: pointer; /* Show hand cursor on hover */
  }
  
.button-container button:hover {
    background-color: #ddd; /* Change background on hover */
    /* Add other hover styles as desired */
  }

.navigation { /* Assuming you use .navigation for the first approach */
    display: flex; /* Arrange elements horizontally */
    justify-content: center; /* Distribute evenly */
    align-items: center; /* Vertically align links */
    margin: 20px; /* Add some spacing */
  }
  
.navigation a { /* Style all links within the navigation */
    text-decoration: none; /* Remove underline */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; /* Or your desired color */
    padding: 10px 20px; /* Add some padding */
    width: 200px;
    border: 1px solid #eee; /* Optional border */
  }
  
.navigation a:hover { /* Change styles on hover */
    background-color: #f0f0f0;
  }
  
.link-container {
    text-align: center;
    margin-top: 10px; /* Adjust spacing as needed */
  }
  
.link-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc; /* Or your desired color */
    color: #000;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
    border: 1px solid #ccc; /* Optional border */
  }
  
.link-container a:hover {
    background-color: #ddd; /* Change background on hover */
    /* Add other hover styles as desired */
  }