/* Navigation Bar */
.navbar {
    background-color: #111;
    margin-bottom: 0; /* Ensures no gap between the navbar and the content below */
}

.navbar .navbar-brand {
    color: #00a0b9;
    font-family: 'Luminari', fantasy;
    font-size: 1.5rem; 
}

.navbar-nav .nav-link {
    color: #00a0b9;
}

.navbar-nav .nav-link:hover {
    color: #e0e0e0;
    text-decoration: underline;
    font-weight: bold;
}

/* Search Bar */
.search-form {
    display: flex;
    margin-left: auto;
}

.search-form input[type="text"] {
    background-color: #111;
    border: none;
    color: #fff;
    margin-right: 0.5rem; /* Adds some space between the input and the button */
}

.search-form button {
    background-color: #00a0b9;
    color: #fff;
    border: none;
    padding: 0.375rem 0.75rem; /* Bootstrap default for buttons */
}

.navigation a {
    color: #00a0b9; /* Set text color */
    text-decoration: none; /* Remove underline */
    margin-right: 20px; /* Add margin between links */
}

.navigation a:hover {
    color: #ff69b4; /* Change text color on hover */
    text-decoration: underline; /* Underline on hover */
    font-weight: bold; /* Bold font on hover */
}


.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow */
    border-radius: 5px; /* Softens the corners */
}

.card-body {
    padding: 15px;font-family: "Roboto", sans-serif; 
    margin: 0; 
    padding: 20px; 
    color: #ffffff !important;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* styles.css */

/* Main Colors */
.bg-neon-green { background-color: #00a0b9; } 
.bg-neon-pink { background-color: #ff00ff; } 
.bg-neon-blue { background-color:  #002345; }

.text-neon-green { color: #00a0b9; }
.text-neon-pink { color: #ff00ff; }
.text-neon-blue { color: #002345; }

/* Links */
a {   
    color: #00a0b9 !important; /* Default neon green for links */
    text-decoration: none;
}

a:hover {
    color: #e0e0e0; /* Brightens on hover */
    text-decoration: underline; 
}

/* Card Styling */
.card {
    background-color: #202020 !important;
    border: 1px solid #00a0b9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 250, 154, 0.4);
}



/* Buttons (Example) */
.btn-neon {
    background-color: #00a0b9;
    color:  #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 4px 6px rgba(0, 250, 154, 0.4); 
}

.btn-neon:hover {
    background-color: #3399ff; /* Change color on hover */
}

.pagination { 
    justify-content: center; /* center the pagination */
 }
 
 .page-item {
    margin: 0 5px; 
 }

 .page-link {
    color: #00a0b9; 
    background-color: #111; 
    border: 1px solid #00a0b9; /* Border matching the color */
}

.page-link:hover {
    color: #fff;        /* White text on hover */
    background-color: #00a0b9; /* Darker blue background */
}

.page-item.active .page-link {
    color: #fff;           
    background-color: #2469c4; 
    border-color: #2469c4;
}

/* Base Styling */
body {
    font-family: "Roboto", sans-serif;
    background-color: #111 !important; /* Set the desired background color */
    color: #ffffff !important; /* Set the desired text color */
    margin: 0;
    padding: 20px;
}

.container {
    padding-top: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.container-body {
    padding: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 20px;
    color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color:#00a0b9;
}

/* Show Details */
.show-image {
    max-width: 100% !important;
    height: auto;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

