<html>

<head>
    <title>Anibase - About Our Team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    {% include 'navbar.html' %}

    <!-- About the Team Section -->
    <div class="container mt-5">
        <h1 class="text-center mb-5">About Our Team</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="static/ajit.png" class="card-img-top" alt="Ajit Ramamohan" />
                    
                    <div class="card-body">
                        <h5 class="card-title">Ajit Ramamohan</h5>
                        <p class="card-text bio">I am a senior biochemistry major, and I spend most of my time outside
                            of classes
                            working in a faculty structural biology lab. I'm planning to attend medical and/or graduate
                            school after
                            graduating.</p>
                        <ul class="member-details">
                            <li><strong>Major Responsibilities:</strong>Database - SQLAlchemy and Flask, Frontend</li>
                            <li><strong>Commits:</strong> 11</li>
                            <li><strong>Issues:</strong> 2 </li>
                            <li><strong>Unit Tests:</strong> 0 </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="static/huy.jpg" class="card-img-top" alt="Huy Nguyen" />
                    
                    <div class="card-body">
                        <h5 class="card-title">Huy Nguyen</h5>
                        <p class="card-text bio">I am a senior Economics major with a passion for studying data and
                            solving problems. Outside of class, I play for the UT Ultimate Frisbee team.</p>
                        <ul class="member-details">
                            <li><strong>Major Responsibilities:</strong> Database, API/Postman, Unit Testing </li>
                            <li><strong>Commits:</strong> 5 </li>
                            <li><strong>Issues:</strong> 0 </li>
                            <li><strong>Unit Tests:</strong> 9 </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="static/ginger.jpeg" class="card-img-top" alt="Ginger Hudson" />
                    <div class="card-body">
                        <h5 class="card-title">Ginger Hudson</h5>
                        <p class="card-text bio">I am a senior Apparel Design major and hope after graduating to start
                            my own fashion line.</p>
                        <ul class="member-details">
                            <li><strong>Major Responsibilities:</strong> Technical Reports, Unittests, Styling </li>
                            <li><strong>Commits:</strong> 20</li>
                            <li><strong>Issues:</strong> 3 </li>
                            <li><strong>Unit Tests:</strong> 9 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="static/patrick.png" class="card-img-top" alt="Patrick Sim"/>
                    <div class="card-body">
                        <h5 class="card-title">Patrick Sim</h5>
                        <p class="card-text bio">I am a senior Physics + Math major. Outside of academics, I like to
                            spend my free time practicing martial arts, origami, and running.</p>
                        <ul class="member-details">
                            <li><strong>Major Responsibilities:</strong> Backend, Database, API management </li>
                            <li><strong>Commits:</strong> 10 </li>
                            <li><strong>Issues:</strong> 0 </li>
                            <li><strong>Unit Tests:</strong> 0 </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="static/sergio.jpg" class="card-img-top" alt="Sergio Flores-Osorio">
                    <div class="card-body">
                        <h5 class="card-title">Sergio Flores-Osorio</h5>
                        <p class="card-text bio">I am a fifth year environmental engineering student interested in
                            helping to create a more sustainable world. In my free time, I enjoy reading and bouldering.
                        </p>
                        <ul class="member-details">
                            <li><strong>Major Responsibilities:</strong> Backend, Database, Frontend</li>
                            <li><strong>Commits:</strong> 71 </li>
                            <li><strong>Issues:</strong> 15 </li>
                            <li><strong>Unit Tests:</strong> 0 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Team Stats</h2>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">GitLab Commits</h5>
                        <p class="card-text display-4">117</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">GitLab Issues</h5>
                        <p class="card-text display-4">{{ total_issues }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Unit Tests</h5>
                        <p class="card-text display-4">9</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Adjusted row for Postman API Links and Additional Links -->
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Postman API Links</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="https://documenter.getpostman.com/view/33691985/2sA3BheEyg" target="_blank">Characters</a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://documenter.getpostman.com/view/33691985/2sA3BheEyh" target="_blank">Shows</a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://documenter.getpostman.com/view/33691985/2sA3BheEyi" target="_blank">Voice Actors</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Additional Links</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="https://gitlab.com/sefloso/cs331e-idb/-/issues" target="_blank">GitLab Issue Tracker</a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://gitlab.com/sefloso/cs331e-idb" target="_blank">GitLab Repo</a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://gitlab.com/sefloso/cs331e-idb/-/wikis/Technical-Report" target="_blank">GitLab Wiki</a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://docs.google.com/presentation/d/1hgShIM0z4lIjG8C3NHnoMck_bDQw_SUtih0rJKUY7QY/edit?usp=sharing"
                                    target="_blank">Final Presentation Slide Deck</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Tools We Used</h2>
        <div class="row justify-content-center">
            <div class="col-md-2 mb-3">
                <div class="card text-center">
                    <div class="card-body">Bootstrap</div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card text-center">
                    <div class="card-body">CSS</div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card text-center">
                    <div class="card-body">HTML</div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card text-center">
                    <div class="card-body">Python</div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card text-center">
                    <div class="card-body">Flask</div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card text-center">
                    <div class="card-body">SQL</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <img src="static/unittests.png" class="img-fluid" alt="UT" />
        </div>
        <div class="col-md-6 mb-4">
            <img src="static/coverage.png" class="img-fluid" alt="COVERAGE" />
        </div>
</body>

</html>