<html>
<head>
    <title>Anibase - Characters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-4"> <h1>Anime Characters</h1>

        <div class="sort-controls">
            <form action="{{ url_for('render_characters') }}" method="GET">
                <b>Sort By:</b>
                <select name="sort_by">
                    <option value="name">Name</option>
                    <option value="voiced_by">Voice Actor</option>
                </select>
        
                <b>Order:</b>
                <select name="order">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
        
                <button type="submit">Sort</button>
            </form> 
        </div>
        
        <div class="row">
            {% for character in characters %} 
            <div class="col-md-4 mb-3"> <div class="card">
                <a href="{{ url_for('showCharacter', char_id=character.id) }}"> <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}"> </a>
                    <div class="card-body">
                        <a href="{{ url_for('showCharacter', char_id=character.id) }}"><h5 class="card-title">{{ character.name }}</h5> </a>
                        <p class="card-text">
                            {% if character.about %}
                            <strong>About:</strong> {{ character.about[:150] ~ '...' if character.about|length > 150 else character.about }}<br><br>
                            {% else %}
                                No about available!
                            {% endif %}
                            <strong>Appears in:</strong> 
                                <ul> 
                                {% for show in character.charshows %} 
                                    <li><a href="{{ url_for('showShow', show_id=show.id) }}">{{ show.title }}</a></li> 
                                {% endfor %} 
                                </ul>
                            <strong>Voiced by:</strong>
                            {% if character.voice %}
                                <a href="{{ url_for('showVoice', va_id=character.voiced_by_id) }}">{{ character.voice.name }}</a>
                            {% else %}
                                Not Available
                            {% endif %}
                        </p>
                    </div>
                 </div>
        </div>
        {% endfor %}
    </div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_characters', page=1, sort_by=sort_by, order=order) }}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_characters', page=page - 1, sort_by=sort_by, order=order) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
       <li class="page-item">
           <span class="form-control page-input"> Page {{ page }} of {{ total_pages }} </span>
       </li>
        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_characters', page=page + 1, sort_by=sort_by, order=order) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
         <li class="page-item {% if page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_characters', page=total_pages, sort_by=sort_by, order=order) }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</div>
</body>
</html>
