<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Anibase</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #1c1c1c;
        color: #ffffff;
        text-align: center;
      }

      h1 {
        font-size: 3rem;
        margin-top: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      form {
        /* margin-top: 2rem; */
        display: flex;
        justify-content: center;
      }

      input[type="text"] {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border: none;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        width: 300px;
        margin-right: 1rem;
      }

      button[type="submit"] {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border: none;
        background-color: #ff6347;
        color: #ffffff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      .placeholder-container {
        margin-top: 2rem;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      .placeholder-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      .navigation {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
      }

      .navigation a {
        margin: 0 1rem;
        font-size: 1.2rem;
        color: #ffffff !important;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #ff6347;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease;
      }

      .navigation a:hover {
        background-color: #ff4d2e;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <br />
    <h1></h1>
    <h1>Welcome to Anibase</h1>

    <div class="placeholder-container">
      <img src="{{ url_for('static', filename='neongen.png') }}" alt="Rei" />
    </div>

    <nav class="navigation">
      <a href="/shows">Shows</a>
      <a href="/characters">Characters</a>
      <a href="/voices">Voice Actors</a>
    </nav>
  </body>
</html>
