<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Results for: {{ query }}</h1>
    {% if empty == 1 %}
    <p>No results found.</p>
    {% else %}
    <div class="row">
        <!-- Shows Section -->
        <div class="col-md-4">
            <h3>Shows</h3>
            <ul>
                {% for show in shows %}
                <div class="card mb-3">
                    <a href="{{ url_for('showShow', show_id=show.id) }}">
                        <img src="{{ show.image }}" class="card-img-top" alt="{{ show.title|highlight_search_term(query) }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ url_for('showShow', show_id=show.id) }}">
                            <h5 class="card-title">{{ show.title|highlight_search_term(query) }}</h5>
                        </a>
                        <p class="card-text">
                            <strong>Episodes:</strong> {{ show.episodes|highlight_search_term(query) }}<br>
                            <strong>Rating:</strong> {{ show.rating|highlight_search_term(query) }}<br>
                            <strong>Status:</strong> {{ show.status|highlight_search_term(query) }}<br>
                            <strong>Characters:</strong>
                            <ul>
                                {% for character in show.charshows %}
                                <li><a href="{{ url_for('showCharacter', char_id=character.id) }}">{{ character.name|highlight_search_term(query) }}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <!-- Characters Section -->
        <div class="col-md-4">
            <h3>Characters</h3>
            <ul>
                {% for character in characters %}
                <div class="card">
                    <a href="{{ url_for('showCharacter', char_id=character.id) }}">
                        <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name|highlight_search_term(query) }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ url_for('showCharacter', char_id=character.id) }}">
                            <h5 class="card-title">{{ character.name|highlight_search_term(query) }}</h5>
                        </a>
                        <p class="card-text">
                            <strong>About:</strong> {{ character.about|highlight_search_term(query) }}<br><br>
                            <strong>Appears in:</strong>
                            <ul>
                                {% for show in character.charshows %}
                                <li><a href="{{ url_for('showShow', show_id=show.id) }}">{{ show.title|highlight_search_term(query) }}</a></li>
                                {% endfor %}
                            </ul>
                            <strong>Voiced by:</strong>
                            {% if character.voice %}
                                <a href="{{ url_for('showVoice', va_id=character.voiced_by_id) }}">{{ character.voice.name|highlight_search_term(query) }}</a>
                            {% else %}
                                Not Available
                            {% endif %}
                        </p>
                    </div>
                 </div>
                {% endfor %}
            </ul>
        </div>
        <!-- Voice Actors Section -->
        <div class="col-md-4">
            <h3>Voice Actors</h3>
            <ul>
                {% for actor in voice_actors %}
                <div class="card mb-3">
                    <a href="{{ url_for('showVoice', va_id=actor.id) }}">
                        <img src="{{ actor.image }}" class="card-img-top" alt="{{ actor.name|highlight_search_term(query) }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ url_for('showVoice', va_id=actor.id) }}">
                            <h5 class="card-title">{{ actor.name|highlight_search_term(query) }}</h5>
                        </a>
                        <p class="card-text">
                            <strong>Characters Played:</strong>
                            <ul>
                                {% for character in actor.characters %}
                                <li><a href="{{ url_for('showCharacter', char_id=character.id) }}">{{ character.name|highlight_search_term(query) }}</a></li>
                                {% endfor %}
                            </ul>
                            <strong>Birthday:</strong> {{ actor.birthday|highlight_search_term(query) }}<br>
                            <strong>About:</strong> {{ actor.about|highlight_search_term(query) }}<br>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</body>
</html>
