  <head>
    <title>Anibase - Show Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
      <div class="row mb-4">
        <div class="col-lg-12">
          <h1 class="text-center">{{ show.title }}</h1>
          <img
            src="{{ show.image }}"
            class="img-fluid rounded mx-auto d-block show-image"
            alt="{{ show.title }}"
          />
          <p class="text-center mt-3">
            <strong>Episodes:</strong> {{ show.episodes }}
          </p>
          <p class="text-center"><strong>Rating:</strong> {{ show.rating }}</p>
          <p class="text-center mb-4">
            <strong>Status:</strong> {{ show.status }}
          </p>
        </div>
      </div>
      <h2 class="text-center mb-4">Characters</h2>
      <div class="row text-center">
        {% for character in characters %}
        <div class="col-md-4 mb-3"> <div class="card">
            <a href="{{ url_for('showCharacter', char_id=character.id) }}"> <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}"> </a>
                <div class="card-body">
                    <a href="{{ url_for('showCharacter', char_id=character.id) }}"><h5 class="card-title">{{ character.name }}</h5> </a>
                    <p class="card-text">
                        <strong>About:</strong> {{ character.about[:150] ~ '...' if character.about|length > 150 else character.about }}<br><br>
                        <strong>Voiced by:</strong>
                        {% if character.voice %}
                            <a href="{{ url_for('showVoice', va_id=character.voiced_by_id) }}">{{ character.voice.name }}</a>
                        {% else %}
                            Not Available
                        {% endif %}
                    </p>
                </div>
             </div>
    </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
