<html>
  <head>
    <title>Anibase - Voice Actor Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
      <div class="row mb-4">
        <div class="col-lg-12">
          <h1 class="text-center">{{ voice_actor.name }}</h1>
          <img
            src="{{ voice_actor.image }}"
            class="img-fluid rounded mx-auto d-block voice_actor-image"
            alt="{{ voice_actor.name }}"
          />
          <p class="text-center mt-3">
            <strong>About:</strong> <br />
            {{ voice_actor.about }}
          </p>
          <p class="text-center">
            <strong>Birthday:</strong> <br />
            {{ voice_actor.birthday }}
          </p>
        </div>
      </div>
      <h2 class="text-center mb-4">Characters Played:</h2>
      <div class="row justify-content-center">
        {% for character in characters %}
        <div class="col-md-4 mb-3"> <div class="card">
          <a href="{{ url_for('showCharacter', char_id=character.id) }}"> <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}"> </a>
              <div class="card-body">
                  <a href="{{ url_for('showCharacter', char_id=character.id) }}"><h5 class="card-title">{{ character.name }}</h5> </a>
                  <p class="card-text">
                      <strong>About:</strong> {{ character.about[:150] ~ '...' if character.about|length > 150 else character.about }}<br><br>
                      <strong>Appears in:</strong> 
                          <ul> 
                          {% for show in character.charshows %} 
                              <li><a href="{{ url_for('showShow', show_id=show.id) }}">{{ show.title }}</a></li> 
                          {% endfor %} 
                          </ul>
                  </p>
              </div>
           </div>
  </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
