<html>
  <head>
    <title>Anibase - Character Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
      <div class="row mb-4">
        <div class="col-lg-12">
          <h1 class="text-center">{{ character.name }}</h1>
          <img
            src="{{ character.image }}"
            class="img-fluid rounded mx-auto d-block character-image"
            alt="{{ character.name }}"
          /> <br>
          <p class="text-center">
            <strong>About:</strong> <br />
            {{ character.about }}
          </p>
          <p class="text-center">
            <strong>Voiced by:</strong>
            {% if character.voice %}
            <div class="row justify-content-center">
            <div class="col-md-4 justify-content-center">
              <div class="card mb-3 justify-content-center">
                  <a href="{{ url_for('showVoice', va_id=character.voice.id) }}"> <img src="{{ character.voice.image }}" class="card-img-top" alt="{{ character.voice.name }}"> </a>
                  <div class="card-body">
                      <a href="{{ url_for('showVoice', va_id=character.voice.id) }}"><h5 class="card-title">{{ character.voice.name }}</h5></a>
                      <p class="card-text">
                          <strong>Birthday:</strong> {{ character.voice.birthday}}<br>
                          <strong>About:</strong> {{ character.voice.about[:150] ~ '...' if character.voice.about|length > 150 else character.voice.about }}<br>
                      </p>  
                  </div>
              </div>
          </a>
      </div>
    </div>
            {% else %}
                Not Available
            {% endif %}
          </div>
        </div>
          </p>


        </div>
      </div>
      <h2 class="text-center mb-4">Shows:</h2>
      <div class="row justify-content-center">
        {% for show in character.charshows %}
        <div class="col-md-4">
          <div class="card mb-3">
            <a href="{{ url_for('showShow', show_id=show.id) }}">
              <img
                src="{{ show.image }}"
                class="card-img-top"
                alt="{{ show.title }}"
              />
            </a> <br>
            <div class="card-body">
              <a href="{{ url_for('showShow', show_id=show.id) }}"
                ><h5 class="card-title">{{ show.title }}</h5></a
              >
              <p class="card-text">
                <strong>Episodes:</strong> {{ show.episodes }}<br />
                <strong>Rating:</strong> {{ show.rating }}<br />
                <strong>Status:</strong> {{ show.status }}<br />
                <strong>Characters:</strong> 
                            <ul> 
                            {% for character in show.charshows %} 
                                <li><a href="{{ url_for('showCharacter', char_id=character.id) }}">{{ character.name }}</a></li> 
                            {% endfor %} 
                            </ul>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
