<html>
  <head>
    <title>Anibase - Shows</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    {% include 'navbar.html' %}
    
    <div class="container">

      <h1>Shows</h1>

      <div class="sort-controls">
        <form action="{{ url_for('render_shows') }}" method="GET">
            <b>Sort By:</b>
            <select name="sort_by">
                <option value="episodes">Episodes</option>
                <option value="rating">Rating</option>
                <option value="status">Status</option>
            </select>
    
            <b>Order:</b>
            <select name="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
    
            <button type="submit">Sort</button>
        </form> 
    </div>
    

      <div class="row">
        {% for show in shows %}
        <div class="col-md-4">
          <div class="card mb-3">
            <a href="{{ url_for('showShow', show_id=show.id) }}">
              <img
                src="{{ show.image }}"
                class="card-img-top"
                alt="{{ show.title }}"
              />
            </a>
            <div class="card-body">
              <a href="{{ url_for('showShow', show_id=show.id) }}"
                ><h5 class="card-title">{{ show.title }}</h5></a
              >
              <p class="card-text">
                <strong>Episodes:</strong> {{ show.episodes }}<br />
                <strong>Rating:</strong> {{ show.rating }}<br />
                <strong>Status:</strong> {{ show.status }}<br />
                <strong>Characters:</strong> 
                            <ul> 
                            {% for character in show.charshows %} 
                                <li><a href="{{ url_for('showCharacter', char_id=character.id) }}">{{ character.name }}</a></li> 
                            {% endfor %} 
                            </ul>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('render_shows', page=1, sort_by=sort_by, order=order) }}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('render_shows', page=page - 1, sort_by=sort_by, order=order) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <span class="form-control page-input"> Page {{ page }} of {{ total_pages }}</span>
            </li>
            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('render_shows', page=page + 1, sort_by=sort_by, order=order) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('render_shows', page=total_pages, sort_by=sort_by, order=order) }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
  </body>
</html>
