<html>
    <head>
        <title>Anibase - Voice Actors</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <body>
        {% include 'navbar.html' %}
    
        <div class="container">
            <h1>Voice Actors</h1>

            
        <div class="sort-controls">
            <form action="{{ url_for('render_voice_actors') }}" method="GET">
                <b>Sort By:</b>
                <select name="sort_by">
                    <option value="name">Name</option>
                    <option value="birthday">Age</option>
                </select>
        
                <b>Order:</b>
                <select name="order">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
        
                <button type="submit">Sort</button>
            </form> 
        </div>

            <div class="row">
                {% for actor in voice_actors%}
                    <div class="col-md-4">
                            <div class="card mb-3">
                                <a href="{{ url_for('showVoice', va_id=actor.id) }}"> <img src="{{ actor.image }}" class="card-img-top" alt="{{ actor.name }}"> </a>
                                <div class="card-body">
                                    <a href="{{ url_for('showVoice', va_id=actor.id) }}"><h5 class="card-title">{{ actor.name }}</h5></a>
                                    <p class="card-text">
                                        <strong>Characters Played:</strong> 
                                        <ul>
                                        {% for character in actor.characters %}
                                            <li><a href="{{ url_for('showCharacter', char_id=character.id) }}">{{ character.name }}</a></li> 
                                        {% endfor %}
                                        </ul>
                                        <strong>Birthday:</strong> {{ actor.birthday}}<br>
                                        {% if actor.about %}
                                            <strong>About:</strong> {{ actor.about[:150] ~ '...' if actor.about|length > 150 else actor.about }}<br>
                                        {% else %}
                                            <strong>About:</strong> About not available!
                                        {% endif %}
                                    </p>  
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

<n<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_voice_actors', page=1, sort_by=sort_by, order=order) }}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_voice_actors', page=page - 1, sort_by=sort_by, order=order) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
       <li class="page-item">
           <span class="form-control page-input"> Page {{ page }} of {{ total_pages }} </span>
       </li>
        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_voice_actors', page=page + 1, sort_by=sort_by, order=order) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
         <li class="page-item {% if page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('render_voice_actors', page=total_pages, sort_by=sort_by, order=order) }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
        </div>
    </body>
</html>